.name {
    display: block;
    color: gray;
    margin-top: 20%; 
    margin-left: 40%;   
    padding: 3%;
}

.movieimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 250px;
}

.box1 {
    margin-top: 10%;
    margin-left:10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.movie {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
}

.title {
    margin-top: 5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.date {
    display: block;
    margin-top: -35px;
    font-size: 5px;
    color: gray;
}

.item {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: gray;    
}

.posted-info {
    display: block;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 15px; 
}

a {
    text-decoration-line: none;
}

