<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/list.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Show Movie</title>
</head>
<body>
    <header>
        <div class="container">
            <!-- <a href = "http://daein.icehs.kr"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a> -->
            <a href = "/"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Movie List</a></li>
                    <li><a href="/request">Request</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% if status == 1 %}
        <ul class="box1">
            {% for row in rows %}
            <li class="item">
            <a class="movie" href="/movie/{{ row[1] }}">
                <img class="movieimg" src="../static/img/movie/{{ row[1] }}.jpg" alt="영화 포스터">
            </a>
            <div class="posted-info">
                <p class="title">{{ row[2] }}</p>
                </br>
                <p class="date">{{ row[3] }}</p>
            </div>
            </li>
            {% endfor %}
        {% else %}
            <h1 class="name">영화가 없습니다.</h1>
        </ul>
    {% endif %}
</body>
<!-- @Ye0ngjae -->
</html>