<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/list.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Show Movie</title>
</head>
<body>
    <header>
        <div class="container">
            <!-- <a href = "http://daein.icehs.kr"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a> -->
            <a href = "/"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Movie List</a></li>
                    <li><a href="/request">Request</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <ul>
        {% if movie != None %}
            {% for i in range(10) %}
            <li>
                <img src="../static/img/movie/{{i}}.jpg" alt="영화 포스터">
                <p class="title">{{ title }}</p>
            </li>
            {% endfor %}
        {% else %}
            <h1 class="name">영화가 없습니다.</h1>
        {% endif %}
</body>
<!-- made by @Ye0ngjae -->
</html>