<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/request.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Show Movie</title>
</head>
<body>
    <header>
        <div class="container">
            <!-- <a href = "http://daein.icehs.kr"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a> -->
            <a href = "/"><img src="../static/img/logo/logo.gif" title="대인고등학교 로고"/></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Movie List</a></li>
                    <li><a href="#">Request</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="box">
        <form method = 'post'>
            <h1>Request Movie</h1>
            <input class="inputbox" type = 'text' name = 'url' placeholder = 'Enter URL'>
            <button class="send_button" type = 'submit'>Submit</button>
        </form>
    </div>
</body>
<!-- @Ye0ngjae -->
</html>